body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(237, 227, 255);
}
.header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(2, 100px);
    padding: 75px;
    justify-content: center;
    border: 2px solid black;
    background-color: rgb(200, 180, 255);
}
.grid-item {
    border-top: 4px solid black;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

@media screen and (max-width: 850px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        padding: 75px;
        justify-content: center;
        border: 2px solid black;
        background-color: rgb(200, 180, 255);
    }
    .grid-item {
        border-left: 4px solid black;
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
    }
}